html body {
    background: url("cesoir/brickwall.jpg");
    padding: 0;
    margin: 0;
}

nav {
    background: url("cesoir/woodwall.jpg");
    height: 500px;
    margin: 100px 100px 0 100px;
}

Section{
    height: 400px;
    padding:0;
}

Section {
    background-color: white;
    margin: 0 100px 0px 100px;
}

div{
    display: inline-block;
    height: 400px;
}

ul {
    position: absolute;
    right: 100px;
}

li {
    display: inline-block;
    font-size: 20px;
    margin: 20px;
}

h1 {
    position: relative;
    top: 100px;
    font-size: 20px;
}

p {
    position: relative;
    top: 100px;
    font-size: 15px;
}

footer{
    background-color: white;
    height: 400px;
    margin: 0 100px 100px 100px; 
}

#text-asparagus{
    background-color: white;
    width: 692px;
    text-align: center;
}

#asparagus{
    background-color: white;
    position: absolute;
    right: 100px;
    width: 692px;
}

#bar{
    background-color: white;
    width: 692px;
}

#text-bar{
    background-color: white;
    position: absolute;
    right: 100px;
    width: 692px;
    text-align: center;
}

#text-food{
    background-color: white;
    width: 692px;
    text-align: center;
}

#food{
    background-color: white;
    position: absolute;
    right: 100px;
    width: 692px;
}

#egg{
    background-color: white;
    height: 500px;
    margin: 0px 100px 0 100px;
}